name: Build and push model docker image

on:
  push:
    branches: [main]
    paths:
      - '**'
      - '.github/workflows/docker-publish-model.yml'
      - '!employee_daycare_center/**'
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: self-hosted

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v6
        with:
          submodules: recursive
          lfs: false
          fetch-depth: 0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./
          file: ./Dockerfile
          push: true
          cache-to: type=gha,mode=max
          tags: ghcr.io/v3nco/aperture-tts-model:latest
